openapi: 3.1.0
info:
  title: "AI Project Generator"
  description: "Generate and implement coding projects automatically"
  version: "1.0.0"

servers:
  - url: "https://aimade.fun"

paths:
  /api/ai/create-project:
    post:
      operationId: createProject
      summary: Generate and implement a project
      description: Generates a project idea, creates a GitHub repository, and implements the code
      security:
        - service_http: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                prompt:
                  type: string
                  description: "Optional specific requirements or type of project to generate"
                projectType:
                  type: string
                  description: "Type of project (web, mobile, cli, etc.)"
                  enum: ["web", "mobile", "cli", "api", "game", "ai", "other"]
              required: ["projectType"]
      responses:
        '200':
          description: "Project created successfully"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectResponse'
        '401':
          description: "Unauthorized"
        '500':
          description: "Server Error"

components:
  schemas:
    ProjectResponse:
      type: object
      properties:
        idea:
          type: string
          description: "The generated project idea"
        repositoryUrl:
          type: string
          description: "URL of the created GitHub repository"
        files:
          type: array
          description: "List of files created in the repository"
          items:
            type: object
            properties:
              path:
                type: string
                description: "File path in the repository"
              content:
                type: string
                description: "File content"
            required: ["path", "content"]
      required: ["idea", "repositoryUrl", "files"]
  securitySchemes:
    service_http:
      type: http
      scheme: bearer 