openapi: 3.1.0
info:
  title: "Project Idea Generator"
  description: "Returns a new project idea each call."
  version: "1.0.0"

servers:
  - url: "https://aimade.fun"

paths:
  /api/ai/generate-project:
    post:
      operationId: generateIdea
      summary: Generate a project idea
      description: Returns a short description of a project idea.
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                prompt:
                  type: string
                  description: "The prompt to generate a project idea"
      responses:
        '200':
          description: "OK"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectIdeaResponse'
        '401':
          description: "Unauthorized"
        '500':
          description: "Server Error"

  /api/ai/generate-code:
    post:
      operationId: generateCode
      summary: Generate project code
      description: Returns code for a given project idea
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                idea:
                  type: string
                  description: "The project idea to generate code for"
                projectName:
                  type: string
                  description: "The name of the project"
      responses:
        '200':
          description: "OK"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectCodeResponse'
        '401':
          description: "Unauthorized"
        '500':
          description: "Server Error"

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
  schemas:
    ProjectIdeaResponse:
      type: object
      properties:
        idea:
          type: string
          description: "A short description of a new project idea"
    ProjectCodeResponse:
      type: object
      properties:
        code:
          type: string
          description: "Generated code for the project" 